* {
  all: unset;
  font-family: "Lexend";
  font-weight: bold;
  font-size: small;
}

#pill_window, #bar_window {
  background-color: transparent;
}

#pill_box {
  background-color: #0f1416;
  padding: 13px;
  border-radius: 25px;
}

#show_hide_pill {
  background-color: #0f1416;
  border-radius: 100px;
  min-width: 50px;
  min-height: 50px;
  margin: 0px 6.5px;
}

#date_time_widget #date, #date_time_widget #time, #date_time_widget #day {
  background-color: #1b2022;
  color: #b2cbd3;
  border-radius: 16px;
  min-width: 40px;
  padding: 0px 13px;
  min-height: 24px;
}
#date_time_widget #date label, #date_time_widget #time label, #date_time_widget #day label {
  font-size: 15px;
}
#date_time_widget #time {
  margin: 0px 9px;
}

#media_controls_widget {
  transition: all 0.3s ease-in;
  background-color: rgba(23, 28, 30, 0.7);
  padding: 13px;
  border-radius: 25px;
  margin: 10px -50px;
}
#media_controls_widget.revealed {
  transition: all 0.45s cubic-bezier(0.2, 1.8, 0.5, 0.8);
  margin: 13px 0px 0px 0px;
  min-width: 375px;
}
#media_controls_widget.empty {
  min-width: 0px;
  margin: 0px;
  padding: 0;
  background-color: transparent;
}
#media_controls_widget #media_next, #media_controls_widget #media_previous {
  transition: all 0.1s ease-out;
  background-color: transparent;
  padding: 6px;
  border-radius: 8px;
}
#media_controls_widget #media_next label, #media_controls_widget #media_previous label {
  font-size: 20px;
  font-weight: bolder;
  color: #b2cbd3;
}
#media_controls_widget #media_next:hover, #media_controls_widget #media_previous:hover {
  background-color: #1b2022;
  border-radius: 10px;
}
#media_controls_widget #media_shuffle, #media_controls_widget #media_loop {
  transition: all 0.1s ease-out;
  background-color: transparent;
  padding: 6px;
  border-radius: 8px;
  margin: 0px 6.5px;
  min-width: 14px;
}
#media_controls_widget #media_shuffle label, #media_controls_widget #media_loop label {
  font-size: 14px;
  font-weight: bolder;
  color: #303638;
}
#media_controls_widget #media_shuffle:hover, #media_controls_widget #media_loop:hover {
  background-color: #1b2022;
  border-radius: 10px;
}
#media_controls_widget #media_shuffle:hover.toggled, #media_controls_widget #media_loop:hover.toggled {
  background-color: rgb(6.1095, 98.3432419355, 116.0805);
}
#media_controls_widget #media_shuffle.toggled, #media_controls_widget #media_loop.toggled {
  background-color: #004e5d;
  color: #aeecff;
}
#media_controls_widget #media_shuffle.toggled label, #media_controls_widget #media_loop.toggled label {
  color: #b2cbd3;
}
#media_controls_widget #media_play_pause {
  transition: background-color 0.2s ease-out, border-radius 0.1s ease-out;
  background-color: #003641;
  padding: 8px 16px;
  border-radius: 16px;
  margin-left: 13px;
  min-height: 40px;
  min-width: 24px;
}
#media_controls_widget #media_play_pause label {
  transition: color 0.2s ease-out;
  font-family: monospace;
  font-size: 24px;
  color: #85d2e8;
}
#media_controls_widget #media_play_pause:hover {
  background-color: rgb(4.3625, 69.5986538462, 82.8875);
  border-radius: 20px;
}
#media_controls_widget #media_play_pause:hover > label {
  color: #aeecff;
}
#media_controls_widget #media_title_label {
  color: #85d2e8;
  font-size: 18px;
  font-weight: bolder;
}
#media_controls_widget #media_artist_album_label {
  color: #c0c4eb;
  font-size: 10px;
  font-weight: lighter;
}
#media_controls_widget #media_progress {
  margin: 0px 6.5px;
}
#media_controls_widget #media_progress contents trough {
  background-color: rgba(37, 43, 45, 0.6);
  border-radius: 100px;
  padding-left: 15px;
}
#media_controls_widget #media_progress contents trough slider {
  min-height: 25px;
  min-width: 8px;
  border-radius: 100px;
  background-color: #85d2e8;
  margin: -8px 0px;
}
#media_controls_widget #media_progress contents trough slider:hover {
  background-color: #aeecff;
}
#media_controls_widget #media_progress contents trough highlight {
  background-color: #004e5d;
  margin-right: 8px;
  margin-left: -15px;
  border-radius: 100px 50px 50px 100px;
}
#media_controls_widget #media_artwork_box {
  margin-right: 13px;
  background-color: #252b2d;
  border-radius: 25px;
  min-width: 120px;
  min-height: 120px;
}
#media_controls_widget #media_artwork_box #media_artwork {
  border-radius: 25px;
}

#calendar_container {
  transition: all 0.4s linear;
  background-color: rgba(23, 28, 30, 0.7);
  border-radius: 25px;
  margin: 0px -100px;
}
#calendar_container.revealed {
  margin: 13px 0px 0px 0px;
  padding: 13px;
  padding-bottom: 0;
}
#calendar_container #calendar_widget {
  padding: 6px;
  color: #aeecff;
  border-radius: 16px;
}

#quick_settings_container {
  transition: all 0.7s cubic-bezier(1, 0, 1, 0);
  background-color: transparent;
  margin: 10px -100px;
}
#quick_settings_container.revealed {
  transition: all 0 linear;
  margin: 13px 0px 0px 0px;
}
#quick_settings_container .qs_tile {
  transition: all 0.2s ease-out;
  border-radius: 25px;
  min-height: 55px;
  background-color: #252b2d;
  color: #dee3e6;
}
#quick_settings_container .qs_tile.toggled {
  color: #003641;
  background-color: #85d2e8;
}

#bar_window {
  min-height: 49px;
}

#bar_start_container, #bar_end_container {
  background-color: #0f1416;
  min-height: 50px;
  padding: 0px 13px;
}

#wallpaper_container {
  min-width: 100px;
}
#wallpaper_container image {
  min-width: 100px;
  min-height: 100px;
}
