
$background: #131313;

$blue: #b5c4ff;

$blue_container: #254190;

$blue_source: #0000ff;

$blue_value: #0000ff;

$cyan: #50d7ee;

$cyan_container: #004e59;

$cyan_source: #00ffff;

$cyan_value: #00ffff;

$error: #ffb4ab;

$error_container: #93000a;

$green: #7bda9c;

$green_container: #00522c;

$green_source: #00ff00;

$green_value: #00ff00;

$inverse_on_surface: #303030;

$inverse_primary: #2b5ea7;

$inverse_surface: #e2e2e2;

$magenta: #eab2ff;

$magenta_container: #64307b;

$magenta_source: #ff00ff;

$magenta_value: #ff00ff;

$on_background: #e2e2e2;

$on_blue: #032978;

$on_blue_container: #dbe1ff;

$on_cyan: #00363e;

$on_cyan_container: #9eefff;

$on_error: #690005;

$on_error_container: #ffdad6;

$on_green: #00391d;

$on_green_container: #97f7b7;

$on_magenta: #4b1763;

$on_magenta_container: #f7d8ff;

$on_primary: #002f65;

$on_primary_container: #d7e3ff;

$on_primary_fixed: #001b3e;

$on_primary_fixed_variant: #01458e;

$on_red: #5f1222;

$on_red_container: #ffdadc;

$on_secondary: #283141;

$on_secondary_container: #dae2f9;

$on_secondary_fixed: #131c2b;

$on_secondary_fixed_variant: #3e4759;

$on_surface: #e2e2e2;

$on_surface_variant: #c6c6c6;

$on_tertiary: #3f2844;

$on_tertiary_container: #fad8fd;

$on_tertiary_fixed: #28132e;

$on_tertiary_fixed_variant: #573e5c;

$on_yellow: #263500;

$on_yellow_container: #ceef84;

$outline: #919191;

$outline_variant: #474747;

$primary: #aac7ff;

$primary_container: #01458e;

$primary_fixed: #d7e3ff;

$primary_fixed_dim: #aac7ff;

$red: #ffb2b9;

$red_container: #7d2937;

$red_source: #ff0000;

$red_value: #ff0000;

$scrim: #000000;

$secondary: #bec6dc;

$secondary_container: #3e4759;

$secondary_fixed: #dae2f9;

$secondary_fixed_dim: #bec6dc;

$shadow: #000000;

$source_color: #668bcc;

$surface: #131313;

$surface_bright: #393939;

$surface_container: #1f1f1f;

$surface_container_high: #2a2a2a;

$surface_container_highest: #353535;

$surface_container_low: #1b1b1b;

$surface_container_lowest: #0e0e0e;

$surface_dim: #131313;

$surface_tint: #aac7ff;

$surface_variant: #474747;

$tertiary: #ddbce0;

$tertiary_container: #573e5c;

$tertiary_fixed: #fad8fd;

$tertiary_fixed_dim: #ddbce0;

$yellow: #b2d26b;

$yellow_container: #394e00;

$yellow_source: #ffff00;

$yellow_value: #ffff00;

