$text_font_family: Lexend;
$text_font_size: 14px;
$text_font_weight: bold;
$icon_font_family: tabler-icons;
$bar_height: 50px;
$bar_padding: 8px;
$bar_ui_radius: 10px;
$bar_radius: 18px;
$pill_height: 50px;
$pill_padding: 10px;
$pill_expanded_padding: 18px;
$pill_expanded_window_radius: 32px;
$pill_expanded_width: 430px;
$media_player_slider_inner_padding: 8px;
$media_player_slider_padding_left: 15px;
$media_title_font_size: 18px;
$media_artist_album_font_size: 10px;
$media_artwork_size: 120px;
$qs_row_height: 55px;
$qs_slider_padding: 6px;
$wallpaper_file: "/home/semirose/.config/wallpaper/.current-wallpaper";
$power_menu_action_size: 100px;
$osd_padding: 10px;
$osd_pos_vertical: 200px;
$osd_slider_min_height: 250px;
$osd_slider_width: 42px;
$osd_slider_padding: 8px;
$wallpaper_selector_wallpaper_height: 75px;
$wallpaper_selector_wallpaper_border_radius: 36px;
