$padding: 14px;
$window_radius: 30px;
$ui_radius: 16px;
$scale_inner_padding: 8px;
$scale_slider_padding_left: 15px;
$scale_slider_margin_right: 8px;
$pill_idle_min_width: 375px;
$media_title_font_size: 18px;
$media_artist_album_font_size: 10px;
$media_artwork_size: 120px;
